@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.outerbox{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left,red ,grey);
    box-shadow: 3px 4px 5px cornsilk;
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background: white;
    border-radius: 10px;
}
.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
}
.signup-header p{
    font-size: 0.8rem;
    color: #555;
}
.signup-body{
    margin: 20px 0;
}
.signup-body p{
    margin: 10px 0;
}
.signup-body p label{
    display: block;
    font-weight: bold;
}
.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #CCC;
    border-radius: 4px;
    margin-top: 4px;
}
#submit{
    border: none;
    background-color: #FFAACF;
    color: white;
    cursor: pointer;
}
#submit:hover{
    background-color: crimson;
    font-weight: bolder;
    border-radius: 10px;
}
.signup-footer{
    color: #332C39;
    text-align: center;
}