.box-one{
    width: 200px;
    height: 200px;
    background-color: red;
}
.box-two{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.box-three{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.box-four{
    width: 200px;
    height: 200px;
    background-color: purple;
}
.container{
    display: flex;
    flex-wrap: wrap;
}